/* make scrollbar transparent */

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.queue-thumbnail {
  width: 100px;
  object-fit: cover;
}

.characters {
  background-color: rgba(255, 255, 255, 0.5);
}

.character-container {
  cursor: pointer;
}
