.queue-window {
  position: absolute;
  z-index: 3;
  width: 35%;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(1.5px);
  border-right: 1px solid rgba(222, 222, 222, 0.7);
  transform: translate(-850px);
  visibility: hidden;
  transition: all 1s;
  transition-property: transform, visibility;
  background-color: rgba(255, 255, 255, 0.3);
}

.queue-bg {
  position: absolute;
  width: 35%;
  height: 100vh;
  top: 0;
  z-index: 2;
  visibility: hidden;
}

.queue-bg.active {
  visibility: visible;
}

.queue-window.active {
  visibility: visible;
  transform: translate(0);
}

.queue-window.disabled {
  pointer-events: none;
}

.queue-header {
  padding-top: 15px;
}

@media only screen and (max-width: 1000px) {
  .queue-window {
    width: 100%;
  }
}
