* {
  scrollbar-width: none;
}

.app-form-mobile {
  display: none;
}

.switch-container {
  width: 60%;
}

.limitations-list {
  text-align: justify;
  list-style-position: inside;
  display: block;
}

.limitations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 850px) {
  .switch-container {
    margin-left: 10%;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
  }

  .queue-switch {
    margin-top: 3px;
    width: 150px;
  }

  .site-header {
    margin-top: 3px;
    font-size: 1.6em;
  }

  .main-container {
    flex-direction: column-reverse;
  }

  .site-footer {
    display: none;
  }

  .site-desc {
    font-size: 0.9em;
  }

  .app-form {
    display: none;
  }

  .app-form-mobile {
    display: block;
  }

  .app-form-btn-mobile {
    margin-top: 5px;
    width: 100%;
  }

  .app-nav {
    top: 0;
    position: fixed;
    z-index: 90;
    width: 100%;
  }

  .main-container {
    margin-top: 50px;
  }

  .queue-window {
    position: fixed;
  }

  .app-status {
    transition: opacity, visibility;
    transition-duration: 1s;
  }

  .toggler-active + .app-status {
    opacity: 0;
    visibility: hidden;
  }

  .limitations-list {
    margin-right: 35px;
  }
}
