.switch-container {
  width: 60%;
}

@media screen and (max-width: 800px) {
  .switch-container {
    margin-left: 10%;
    width: 200px;
  }

  .queue-switch {
    width: 150px;
  }

  .site-header {
    margin-top: 3px;
    font-size: 1.5em;
  }
}
