hr[class^="toggler-line"] {
  height: 3px;
  width: 100%;
  color: black;
  background-color: black;
  transform: scale(1);
  margin-top: 3px;
  transition: all 1s;
  transition-property: transform, width, opacity;
}

hr.toggler-line-2 {
  transition: all 0.5s;
}

.toggler-button {
  width: 50px;
  cursor: pointer;
  z-index: 5;
  transition: transform 1s;
  margin-left: 10px;
  margin-top: 0;
}

.toggler-button.toggler-active hr.toggler-line-1 {
  width: 45px;
  transform: rotateZ(45deg) translate(11px, 9px);
}

.toggler-button.toggler-active hr.toggler-line-2 {
  opacity: 0;
}

.toggler-button.toggler-active hr.toggler-line-3 {
  width: 45px;
  transform: rotateZ(-45deg) translate(15px, -15px);
}
